### zig template
# Zig programming language

zig-cache/
zig-out/
build/
build-*/
docgen_tmp/
.vsc/
.vs/
.idea/
*.svg
*.png
*.jpg
!svgs/foo-abzu.svg
!svgs/foo-bamboo.svg
!svgs/foo-light.svg
!svgs/foo-dark.svg
!svgs/foo-ori.svg
!svgs/foo-sakura.svg
